/* Tags Gerais */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofadi+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: var(--text-secondary);
}

:root{
    --bg-primary: #0A0A0A;
    --hightlitgh: #4FC3F7;
    --hover: #7AC74F;
    --text-primary: #FFFFFF;
    --text-secondary: #B0B0B0;
    --border-color: #333333;
}


@keyframes text-change {
    from{
        text-shadow: 4px 4px 4px  var(--hover);
    }to{
        text-shadow: 4px 4px 4px  var(--hightlitgh);
    }
}

/* Tags */

html{
    scroll-behavior: smooth;
}

body{
    background-image: url('../imgs/background-alpar.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header{
    background-color: #0A0A0A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;

    a{
        margin: 8px;
        color: var(--text-primary);
        text-decoration: none;
        transition: color 0.6s ease-in-out;
        font-size: 16px;
    }

    a:visited{
        text-decoration: none;
        color: var(--text-primary);
    }

    a:hover{
        color: var(--hightlitgh);
    }
}

footer{
    height: 75px;
    width: 100%;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* IDS */

#sobre-min{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        color: var(--hightlitgh);
    }

    span{
        color: #7AC74F;
    }

    #retrato{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 70%;
        justify-content: center;

        img{
            border-radius: 1rem;
        }
        
        h2{
            margin-top: 20px;
        }
    }

    #about-me{
        height: 70%;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        width: 55%;
        font-size: 20px;

        h2{
            margin-bottom: 30px;
        }
    }
}

#alpar-rocket{
    background-color: #0A0A0A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    flex-direction: column;

    #title{
        color: var(--text-primary);
    }

    #text-program{
        margin-top: 50px;
        width: 70%;
        text-align: center;
        font-size: 18px;
    }
}

#projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    padding: 20px;

    h2{
        margin-top: 20px;
        color: var(--text-primary);
        padding: 10px;
        animation: text-change infinite alternate ease-in 3s;
    }
}

#container-icons{
    display: flex;
    flex-direction: row;

    #git{
        background-image: url('../imgs/github-icon.png');
        background-size: cover;
        transition: 0.6s ease;
    }
    #git:hover{
        transform: scale(1.1);
        background-image: url('../imgs/github-hover.png') !important;
    }
    #lin{
        background-image: url('../imgs/linkedin-icon.png');
        background-size: cover;
        transition: 0.6s ease;
    }
    #lin:hover{
        transform: scale(1.1);
        background-image: url('../imgs/linkedin-hover.png') !important;
    }
    #insta{
        background-image: url('../imgs/instagram-icon.png');
        background-size: cover;
        transition: 0.6s ease;
    }
    #insta:hover{
        transform: scale(1.1);
        background-image: url('../imgs/instagram-hover.png') !important;
    }
}

/* Classes */

.content{
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 25px;
    margin-bottom: 20px;
}

.project{
    width: 300px;
    height: 200px;
    background-color: var(--hightlitgh);
    box-shadow: 3px 3px 0px 0px black;
    transition: all 0.6s ease, box-shadow 0.3s ease-in-out;
    border-radius: 0.5rem !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
                0 10px 20px rgba(0, 0, 0, 0.15), 
                0 20px 40px rgba(0, 0, 0, 0.2);

    .img-project{
        height: 70%;
        width: 100%;
        cursor: pointer;
        img{
            height: 100%;
            width: 100%;
        }
    }

    .desc-project{
        height: 30%;
        width: 100%;
        background-color: var(--border-color);
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: var(--bg-primary) 2px solid;

        .icon{
            transition: scale 0.6s ease;
        }

        .icon:hover{
            scale: 1.4;
        }
        
        p{
            color: white;
            font-weight: bold;
        }
    }
}

.content:hover .project{
    opacity: 0.8;
    scale: 0.9;
}

.project:hover{
    scale: 1.1 !important;
    opacity: 1 !important;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 
                0 20px 40px rgba(0, 0, 0, 0.25), 
                0 40px 80px rgba(0, 0, 0, 0.3);
}

.icon{
    width: 25px;
    height: 25px;
    margin: 10px;
    cursor: pointer;
}
